.left {
  background-color: red;
}

.right {
  background-color: green;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

footer {
  background-color: orange;
  color: white;
}
body {
  font-size: 3em;
}

.container {
  border: 10px solid black;
}

.left, .right {
  padding: 20px;
}